<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techtown.northkorean_memorization">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NorthKorean_Memorization">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/scale_up" />

        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity android:name=".Register"
            android:noHistory="true">
        </activity>
        <activity android:name=".Login"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".Test_Test"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".Test_Result"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".CodeConductor"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Study"/>
        <activity android:name=".Setting"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".MyWord"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".Splash"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>